{% extends 'base.html.twig' %}
{% block title %}Checkout - Tienda UOC{% endblock %}
{% block body %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
            {{ form_start(formAnonymous) }}

            {{ form_end(formAnonymous) }}
            </div>
            <div class="col-md-6">
            {{ form_start(formRegistered) }}

            {{ form_end(formRegistered) }}
            </div>
        </div>
    </div>
{% endblock %}