{% extends 'base.html.twig' %}
{% block title %}Pedido confirmado - Tienda UOC{% endblock %}
{% block body %}
    <div class="container my-4">
        <h1 class="text-center">Pedido guardado</h1>
        <p class="text-center">En breve nos pondremos en contacto contigo. Mientras tanto, puedes seguir consultando nuestro <a href="{{ path('home') }}">catálogo</a>!</p>
    </div>
{% endblock %}